[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SchoolDataIT"]
	path = SchoolDataIT
	url = https://github.com/lcef97/schooldatait
